.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.title {
  font-size: 3rem;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menuItem {
  font-size: 2rem;
  text-transform: capitalize;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Mobile */
@media (max-width: 700px) {
  .center {
    padding: 8rem 0 6rem;
  }
}
